.mr-7 {
    margin-right: 7px;
}

.fz12 {
    font-size: 12px;
}

.fz14 {
    font-size: 14px;
}

.fz20 {
    font-size: 20px;
}

.fz16 {
    font-size: 16px;
}

.fz24 {
    font-size: 24px;
}

.mb-18 {
    margin-bottom: 18px;
}

.mb-21 {
    margin-bottom: 21px;
}

.mb-27 {
    margin-bottom: 27px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-63 {
    margin-bottom: 63px;
}

.mr-9 {
    margin-right: 9px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-16 {
    margin-right: 16px;
}

.mr-26 {
    margin-right: 26px;
}

.mr-32 {
    margin-right: 32px;
}

.mr-50 {
    margin-right: 50px;
}

.gap8 {
    gap: 8px;
}

.gap16 {
    gap: 16px;
}

.gap24 {
    gap: 24px;
}


.gap25 {
    gap: 25px;
}

.p-lr-19 {
    padding-left: 19px;
    padding-right: 19px;
}

.p-tb-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.p-lr-32 {
    padding-left: 32px;
    padding-right: 32px;
}