<div class="hwHeader d-flex p-0 mb-5">
    <h1 class="fz24 mr-50 fw-bold">Assignment</h1>
    <div class="dropdown me-auto">
        <a class="btn fw-bold d-flex" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
           <span class="mr-9">All Courses</span><span class="material-symbols-outlined d-flex align-items-center text-success">
            expand_more
            </span>
        </a>
      
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Bootstrap</a></li>
          <li><a class="dropdown-item" href="#">React</a></li>
          <li><a class="dropdown-item" href="#">NodeJs</a></li>
        </ul>
    </div>

    <ul class="d-flex">
        <li><span class="material-symbols-outlined navIcon mr-26">
            search
            </span></li>
        <li><span class="material-symbols-outlined">
            notifications_active
            </span></li>
    </ul>

</div>